* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
/* =========================== GENERAL ========================== */

.round {
	border-radius: 50px;
	width: 20px;
	height: 20px;
}
.switch {
	width: 20px;
	height: 20px;
	background-color: crimson;
}
.switch:active {
	background-color: tomato;
}

.label {
	/* margin-top: -3px;
	margin-bottom: 5px; */
	font-size: 0.7rem;
}

.controllerContainer {
	/* background-color: brown; */
	height: 100vh;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.stripContainer {
	/* background-color: burlywood; */
	width: 100px;
	border: 2px solid black;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	margin-right: 5px;
}
.container {
	/* border-bottom: 1px solid black; */
	width: 100%;
	padding: 5px;
}

/* =========================== PREAMP ========================== */
.preampContainer {
	display: flex;
	justify-content: space-between;
}
.phaseBtn {
	background-color: rgb(255, 237, 71);
}
.gainPopup {
	position: absolute;
	top: 15px;
	left: 10px;
	display: flex;
	flex-direction: column;
	/* justify-content: space-between; */
	border: 1px solid black;
	padding: 5px;
	border-radius: 4px;
}
.gainPopupBtn {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 1px solid black;
}
/* =========================== HPF ========================== */
.hpfContainer {
	display: flex;
	justify-content: space-around;
	/* width: 100%;
	background-color: brown; */
	margin-bottom: 5px;
	border-bottom: 1px solid black;
}
.hpfPopup {
	position: absolute;
	top: 40px;
	left: 310px;
	display: flex;
	flex-direction: column;
	/* justify-content: space-between; */
	border: 1px solid black;
	padding: 5px;
	border-radius: 4px;
}
.hpfPopupBtn {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 1px solid black;
}
/* =========================== EQ ========================== */
.eqBandContainer {
	display: flex;
	justify-content: space-between;
	margin: 5px 0px;
}
.eqBandContainer input {
	/* width: 80px; */
}
.eqPopup {
	position: absolute;
	top: 160px;
	left: 10px;
	border: 1px solid black;
	padding: 5px;
	border-radius: 4px;
}
/* =========================== AUX ========================== */
.auxContainer {
	display: flex;
	justify-content: space-around;
}

.auxPopup {
	position: absolute;
	top: 160px;
	left: 300px;
	border: 1px solid black;
	width: 160px;
	border-radius: 4px;

	background-image: linear-gradient(gray, lightgray);
}
/* =========================== MUTE ========================== */
.muteBtn {
	width: 50px;
	height: 30px;
	border-radius: 4px;
	background-color: tomato;
}
/* =========================== FADER ========================== */
.faderContainer {
	/* background-color: chartreuse; */
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.fader {
	transform: rotate(-90deg);
	width: 80px;
}

/* =========================== SELECT ========================== */
.selectBtn {
	width: 50px;
	height: 30px;
	border-radius: 4px;
	background-color: rgb(255, 237, 71);
}
